{% extends '_layout' %}

{# Load the images attached to the entry into variables we can use: #}
{% set heroImage = entry.heroImage.one() %}

{% block content %}
    <!-- Landing Section -->
    {# Use the hero image as the background #}
    <div class="landing-section" style="background-image: url('{{ heroImage.getUrl() }}');">
        <h1 class="landing-title">
            {{ entry.title }}
        </h1>
    </div>

    <!-- Swiper Slider Section -->
    <div class="swiper-container max-w-3xl mx-auto mt-12 relative">
        <div class="swiper-wrapper">
            {% for image in entry.sliderImages %}
                <div class="swiper-slide">
                    {# Get the slider image, but with the correct image transform applied #}
                    {{image.getImg('sliderImageTransform')}}
                </div>
            {% endfor %}
        </div>
        <!-- Swiper navigation -->
        <div class="swiper-button-prev custom-arrow"></div>
        <div class="swiper-button-next custom-arrow"></div>
        <div class="swiper-pagination"></div>
    </div>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="imageSwiper.js"></script>
{% endblock %}