@tailwind base;
@tailwind components;
@tailwind utilities;

/* Full-screen hero section */
.landing-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Ensure no repeat of the image */
}

/* Title styling */
.landing-title {
    color: white;
    font-size: 2.5rem; /* Responsive font size */
    font-weight: bold;
    text-align: center;
}

/* Swiper Container */
.swiper-container {
    width: 100%;
    max-width: 1080px;
    overflow: hidden;
    position: relative;
}

/* Swiper Slides */
.swiper-slide img {
    width: 100%;
    height: auto;
}

.custom-arrow {
    /* Background is needed for images with white background */
    background-color: rgba(0, 0, 0, 0.5);
}

.swiper-button-prev.custom-arrow {
    left: 10px; /* Position left arrow */
}

.swiper-button-next.custom-arrow {
    right: 10px; /* Position right arrow */
}

.swiper-container {
    margin-bottom: 2em;
}

.swiper-container .swiper-pagination {
    position: absolute;
    /* \!important tag needed to override default swiper styling */

    bottom: 10px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}

.swiper-container .swiper-pagination-bullet {
    background-color: blue !important;
}

@media (min-width: 1024px) {
    .landing-title {
        font-size: 4rem;
    }
}
